:root {
  --red: #e20700;
  --blue: #6db8cd;
  --grey: #363329;
  --titles: "Amatic SC", cursive;
}

html,
body {
  /* https://css-tricks.com/couple-takes-sticky-footer/ */
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  background: var(--red);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 200px) {
  body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
  }

  body.enigma {
    background: white;
  }

  h2 {
    font-size: 130%;
    margin: 7% auto 0 auto;
    color: white;
    text-align: center;
  }

  h2.enigma {
    color: var(--grey);
    font-size: 130%;
    margin: 7% auto 0 auto;
    text-align: center;
  }

  .arrow {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-top: 0.25em solid white;
    border-right: 0.25em solid white;
    position: absolute;
    margin: 1% 0 0 2em;
    z-index: 11;
  }

  .arrow.enigma {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-top: 0.3em solid var(--grey);
    border-right: 0.3em solid var(--grey);
    position: absolute;
    margin: 1% 0 0 2em;
    z-index: 8;
  }

  .arrow-left {
    transform: rotate(-135deg);
    cursor: pointer;
  }

  .content {
    flex: 1 0 auto;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    overflow: none;
  }

  .app-header .container {
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: space-between;
    padding: 7% 2em;
    text-align: center;
  }

  .subtitle {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10% 0 7% 0;
    color: var(--grey);
  }

  .subtitle.enigma {
    color: white;
  }

  .article p {
    color: var(--grey);
  }

  .article.enigma p {
    color: white;
  }

  .middle {
    border-radius: 3em 0 0px 0px;
    top: 0;
    left: 0;
    height: 87%;
    top: 13%;
    position: absolute;
    z-index: 3;
    background: white;
    box-shadow: 0 -0.2em 0.25em rgba(107, 107, 107, 0.5);
    width: 100%;
  }

  .middle.enigma {
    border-radius: 3em 0 0px 0px;
    top: 0;
    left: 0;
    height: 87%;
    top: 13%;
    position: absolute;
    z-index: 3;
    background: var(--red);
    box-shadow: 0 -0.2em 0.25em rgba(107, 107, 107, 0.5);
    width: 100%;
  }

  .book {
    font-family: var(--titles);
    padding: 0.5em;
    line-height: 0.9em;
    font-size: 1.2em;
  }

  h1 {
    font-family: var(--titles);
    font-size: 2.8em;
    line-height: 0.9em;
    text-align: center;
    margin: 5% 0 20% 0;
    color: white;
  }

  audio {
    margin-top: 40%;
    width: 100%;
  }

  .portada-img {
    width: 70%;
    margin: 0 auto;
  }

  .portada-img img {
    width: 100%;
    margin-top: 5%;
  }

  .estrecho {
    background: white;
    border: 0.2em solid white;
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 0.3em grey;
    color: var(--blue);
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto 15% auto;
    padding: 0.7em 0;
    cursor: pointer;
    width: 40%;
  }

  .estrecho:hover {
    background: var(--blue);
    color: white;
  }

  .ancho {
    background: var(--red);
    border: 0.2em solid var(--red);
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 0.3em grey;
    color: white;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 3% auto 0 auto;
    padding: 0.7em 2.5em;
    cursor: pointer;
    width: 100%;
  }

  .ancho:hover {
    background: white;
    color: var(--red);
  }

  .ancho.enigma {
    background: white;
    border: 0.2em solid white;
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 0.3em grey;
    color: var(--blue);
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 10% auto 0 auto;
    padding: 0.7em 2.5em;
    cursor: pointer;
    width: 100%;
  }

  .ancho.enigma:hover {
    background: var(--blue);
    color: white;
  }

  #splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--red);
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: 1.5s ease;
    z-index: 15;
  }

  #splash.fade {
    display: none;
  }

  .grid-container {
    z-index: 4;
    position: absolute;
    width: 85%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 43% auto 0 auto;
    display: grid;
    height: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.8fr 0.6fr;
    gap: 0;
    grid-template-areas:
      "subheader"
      "article"
      "header";
  }

  .header {
    grid-area: header;
  }

  .subheader {
    grid-area: subheader;
    height: 60%;
  }

  .subheader img {
    width: 100%;
    margin-top: 5%;
  }

  .article {
    grid-area: article;
    padding-bottom: 5%;
  }

  .grid-story {
    height: 70%;
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 0.8fr 1.2fr;
    gap: 5%;
    grid-template-areas:
      "charac word"
      "void word";
  }
  .word {
    grid-area: word;
    color: var(--grey);
    font-size: 2.7vh;
  }

  .charac {
    grid-area: charac;
    border-radius: 1em;
    width: 100%;
    background: var(--grey);
  }

  .charac img {
    width: 100%;
  }

  .void {
    grid-area: void;
    opacity: 0;
  }

  .grid-enigma {
    height: 90%;
    display: grid;
    grid-template-rows: 1.8fr 0.2fr;
    grid-template-areas:
      "enigma-text"
      "enigma-void";
  }
  .enigma-text {
    grid-area: enigma-text;
    color: var(--grey);
    font-size: 1em;
  }

  .enigma-void {
    grid-area: enigma-void;
    opacity: 0;
  }

  .grid-audio {
    height: 90%;
    display: grid;
    grid-template-rows: 1.8fr 0.2fr;
    grid-template-areas:
      "audio-player"
      "audio-void";
  }

  .audio-player {
    grid-area: audio-player;
    color: var(--grey);
    font-size: 1em;
  }

  .audio-void {
    grid-area: audio-void;
    opacity: 0;
  }

  .grid-button {
    display: grid;
    height: 100%;
    grid-template-columns: 1.6fr 0.4fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5%;
    z-index: 5;
    grid-template-areas:
      "btn1  log1"
      "btn2  log2"
      "btn3  log3";
  }

  .btn1 {
    grid-area: btn1;
    background: var(--red);
    background-image: url(../images/caperucita3.png);
  }

  .btn2 {
    grid-area: btn2;
    background: var(--red);
    background-image: url(../images/caperucita4.png);
  }

  .btn3 {
    grid-area: btn3;
    background: var(--red);
    background-image: url(../images/caperucita5.png);
  }

  .log1 {
    grid-area: log1;
  }

  .log2 {
    grid-area: log2;
  }

  .log3 {
    grid-area: log3;
  }

  .grid-button .item-cap {
    display: flex;
    align-items: center;
    border-radius: 1em;
    border: 0.2em solid var(--red);
    z-index: 5;
    box-shadow: 0.1em 0.1em 0.3em grey;
    color: white;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 38%;
    background-position: left;
  }

  .item-cap div {
    margin-left: 40%;
  }

  .item-cap a {
    color: white;
    text-decoration: none;
  }

  .grid-button .item-cap:hover {
    background: white;
    color: var(--red);
    background-repeat: no-repeat;
    background-size: 38%;
    background-position: left;
  }

  .grid-button .item-cap img {
    width: 25%;
    margin: 0 1em 0 0.5em;
  }

  .grid-button .item-cap p {
    margin: 0.3em 0;
    font-size: 0.9em;
    color: white;
  }

  .grid-button .item-cap p strong {
    font-size: 1.1em;
    color: white;
  }

  .grid-button .item-log {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    background: var(--grey);
    border: 0.2em solid var(--grey);
    z-index: 5;
    box-shadow: 0.1em 0.1em 0.3em grey;
    background-image: url(../images/play-button.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
  }

  .grid-button .item-log:hover {
    background: white;
    background-image: url(../images/play-button-dark.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }

  /*Menú hamburguesa*/

  #menu {
    width: 1.5em;
    height: 1.4em;
    margin: 9% 2em 0 0;
    cursor: pointer;
    float: right;
  }

  .bar {
    height: 0.2em;
    width: 100%;
    background-color: white;
    display: block;
    transition: 0.3s ease;
  }

  .bar.enigma {
    height: 0.2em;
    width: 100%;
    background-color: var(--grey);
    display: block;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-0.3em);
  }

  #bar3 {
    transform: translateY(0.3em);
  }

  .change .bar {
    background-color: var(--grey);
  }

  .change #bar1 {
    transform: translateY(0.22em) rotate(-45deg);
  }

  .change #bar3 {
    transform: translateY(-0.19em) rotate(45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .nav {
    padding: 0;
    margin: 45% 10% 0 0;
    width: 90%;
    display: none;
  }

  .nav li a {
    text-decoration: none;
    color: var(--grey);
    font-weight: bold;
    font-size: 1.3em;
  }

  .nav li a:hover {
    font-weight: bold;
    color: var(--red);
  }

  .nav a:before {
    content: url("../images/linea.png");
    width: 2em;
  }

  .nav a:hover:before {
    content: url("../images/linearoja.png");
    width: 2em;
  }

  .nav li {
    list-style: none;
    padding: 1em 0;
    margin-left: 17%;
  }

  .nav li img {
    width: 50%;
    padding: 0 0 0 0;
  }

  .nav li p {
    font-family: var(--titles);
    font-size: 1em;
    margin: -10% 0 0 30%;
    width: 60%;
    line-height: 0.8em;
    text-align: left;
  }

  .desplega {
    display: none;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    margin: 103% 0 30% 15%;
    width: 58%;
    z-index: 15;
  }

  .desplega img {
    width: 65%;
  }

  .desplega p {
    font-family: var(--titles);
    font-size: 1em;
    margin: 5% 0 0 40%;
    line-height: 0.8em;
    text-align: left;
  }

  .change {
    display: block;
  }

  .menu-bg {
    z-index: 9;
    width: 0;
    height: 0;
    background: white;
    transition: 0.1s ease;
    border-radius: 5em 0 0 0;
    box-shadow: 0 -0.2em 0.25em rgba(107, 107, 107, 0.5);
  }

  .change-bg {
    width: 100%;
    height: 100%;
  }

  .menu-bg,
  #menu-bar {
    top: 0;
    right: 0;
    position: absolute;
  }

  #menu-bar {
    z-index: 10;
    width: 100%;
  }

  /*lectura*/
  .lectura {
    transition: opacity 0.5s ease-in-out;
  }
}

@media (min-width: 786px) {
}
