:root {
  --red: #e20700;
  --blue: #6db8cd;
  --grey: #363329;
  --titles: "Amatic SC", cursive;
}

html,
body {
  /* https://css-tricks.com/couple-takes-sticky-footer/ */
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  background: var(--red);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  .container-grande {
    display: none;
  }

  body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
  }

  body.enigma {
    background: white;
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 130%;
    margin: 4vh auto 0 auto;
    color: white;
    text-align: center;
  }

  h2.enigma {
    color: var(--grey);
    font-size: 130%;
    margin: 4vh auto 0 auto;
    text-align: center;
  }

  form input {
    width: 100%;
    padding: 1.1em;
    font-size: 0.9em;
    border: none;
    border-radius: 2em;
    margin: 0.8em 0 0.2em;
    background: var(--grey);
    color: white;
  }

  form input::placeholder {
    color: white;
  }

  form input:focus {
    outline: none;
  }

  .enigma p {
    color: white;
    margin: 0.2em 0 0.4em 0;
  }

  .arrow {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-top: 0.25em solid white;
    border-right: 0.25em solid white;
    position: absolute;
    margin: 1% 0 0 2em;
    z-index: 11;
  }

  .arrow.enigma {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-top: 0.3em solid var(--grey);
    border-right: 0.3em solid var(--grey);
    position: absolute;
    margin: 1% 0 0 2em;
    z-index: 11;
  }

  .arrow-left {
    transform: rotate(-135deg);
    cursor: pointer;
  }

  .content {
    flex: 1 0 auto;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    overflow: none;
  }

  .app-header .container {
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: space-between;
    padding: 7% 2em;
    text-align: center;
  }

  .subtitle {
    font-size: 4.5vw;
    font-weight: bold;
    margin: 7% 0 7% 0;
    color: var(--grey);
  }

  .subtitle.enigma {
    color: white;
    margin-top: 3.5vh;
  }

  .subtitle.bueno {
    margin: 14% auto 7% auto;
  }

  .article p {
    color: var(--grey);
  }

  .article.enigma p {
    color: white;
  }

  .middle {
    border-radius: 3em 0 0px 0px;
    top: 0;
    left: 0;
    height: 87%;
    top: 13%;
    position: absolute;
    z-index: 3;
    background: white;
    box-shadow: 0 -0.2em 0.25em rgba(107, 107, 107, 0.5);
    width: 100%;
  }

  .middle.enigma {
    border-radius: 3em 0 0px 0px;
    top: 0;
    left: 0;
    height: 87%;
    top: 13%;
    position: absolute;
    z-index: 3;
    background: var(--red);
    box-shadow: 0 -0.2em 0.25em rgba(107, 107, 107, 0.5);
    width: 100%;
  }

  .book {
    font-family: var(--titles);
    padding: 0.5em;
    line-height: 0.9em;
    font-size: 1.2em;
  }

  h1 {
    font-family: var(--titles);
    font-size: 2.8em;
    line-height: 0.9em;
    text-align: center;
    margin: 5% 0 20% 0;
    color: white;
  }

  audio {
    margin-top: 40%;
    width: 100%;
  }

  .portada-img {
    width: 70%;
    margin: 0 auto;
  }

  .portada-img img {
    width: 100%;
    margin-top: 5%;
  }

  .estrecho {
    background: white;
    border: 0.2em solid white;
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 0.3em grey;
    color: var(--blue);
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto 15% auto;
    padding: 0.7em 0;
    cursor: pointer;
    width: 40%;
  }

  .estrecho:hover {
    background: var(--blue);
    color: white;
  }

  .ancho {
    background: var(--red);
    border: 0.2em solid var(--red);
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 0.3em grey;
    color: white;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 3% auto 0 auto;
    padding: 0.7em;
    cursor: pointer;
    width: 100%;
  }

  .ancho:hover {
    background: white;
    color: var(--red);
  }

  .ancho.enigma {
    background: white;
    border: 0.2em solid white;
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 0.3em grey;
    color: var(--blue);
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 3% auto 0 auto;
    padding: 0.7em;
    cursor: pointer;
    width: 100%;
  }

  .ancho.enigma.juntos {
    border: 0.2em solid white;
    background: white;
    color: var(--blue;);
    height: 15vh;
    border-radius: 1.5em;
    font-size: 0.9em;
    margin-top: 2vh;
  }

  .ancho.enigma.juntos:hover {
    background: var(--blue);
    color: white;
  }

  .ancho.enigma.margen {
    margin-top: 15%;
  }

  .ancho.bueno {
    margin-bottom: 10%;
  }

  .decision {
    height: 40vh;
    margin-top: 2vh;
  }

  /*Splash*/
  #splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--red);
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: 1.5s ease;
    z-index: 15;
  }

  #splash:target {
    display: none;
  }

  #splash.fade {
    display: none;
  }

  .grid-container {
    z-index: 4;
    position: absolute;
    width: 85%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 43% auto 0 auto;
    display: grid;
    height: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.8fr 0.6fr;
    gap: 0;
    grid-template-areas:
      "subheader"
      "article"
      "header";
  }

  .header {
    grid-area: header;
  }

  .subheader {
    grid-area: subheader;
    height: 60%;
  }

  .subheader img {
    width: 100%;
    margin-top: 5%;
  }

  .article {
    grid-area: article;
    padding-bottom: 5%;
  }

  .grid-story {
    height: 70%;
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 0.8fr 1.2fr;
    gap: 5%;
    grid-template-areas:
      "charac word"
      "void word";
  }
  .word {
    grid-area: word;
    color: var(--grey);
    font-size: 2.6vh;
  }

  .charac {
    grid-area: charac;
    border-radius: 1em;
    width: 100%;
    background: white;
  }

  .charac img {
    width: 100%;
  }

  .void {
    grid-area: void;
    opacity: 0;
  }

  .grid-enigma {
    height: 90%;
    display: grid;
    grid-template-rows: 1.8fr 0.2fr;
    grid-template-areas:
      "enigma-text"
      "enigma-void";
  }
  .enigma-text {
    grid-area: enigma-text;
    color: var(--grey);
    font-size: 1em;
  }

  .enigma-void {
    grid-area: enigma-void;
    opacity: 0;
  }

  .grid-audio {
    height: 90%;
    display: grid;
    grid-template-rows: 1.8fr 0.2fr;
    grid-template-areas:
      "audio-player"
      "audio-void";
  }

  .audio-player {
    grid-area: audio-player;
    color: var(--grey);
    font-size: 1em;
  }

  .audio-void {
    grid-area: audio-void;
    opacity: 0;
  }

  .grid-button {
    display: grid;
    height: 30vh;
    grid-template-columns: 1.6fr 0.4fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5%;
    z-index: 5;
    grid-template-areas:
      "btn1  log1"
      "btn2  log2"
      "btn3  log3";
  }

  .btn1 {
    grid-area: btn1;
    background: var(--red);
    background-image: url(../images/caperucita3.png);
  }

  .btn2 {
    grid-area: btn2;
    background: var(--red);
    background-image: url(../images/caperucita4.png);
  }

  .btn3 {
    grid-area: btn3;
    background: var(--red);
    background-image: url(../images/caperucita5.png);
  }

  .log1 {
    grid-area: log1;
  }

  .log2 {
    grid-area: log2;
  }

  .log3 {
    grid-area: log3;
  }

  .grid-button .item-cap {
    border-radius: 1em;
    border: 0.2em solid var(--red);
    z-index: 5;
    box-shadow: 0.1em 0.1em 0.3em grey;
    cursor: pointer;
    height: 10vh;
    color: white;
  }

  .grid-button .item-cap:hover {
    background: white;
    background-repeat: no-repeat;
    background-size: 38%;
    background-position: left;
    color: var(--red);
  }

  .item-cap-left {
    display: inline;
  }

  .item-cap-right {
    display: inline;
    position: absolute;
    padding-top: 3.2vh;
    font-size: 4.5vw;
  }

  .grid-button .item-cap img {
    width: 9vh;
    display: inline-block;
    margin-right: 8vw;
    border-radius: 100%;
  }

  .grid-button .item-cap p {
    text-align: right;
    display: inline-block;
  }

  .grid-button .item-log {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    background: var(--grey);
    border: 0.2em solid var(--grey);
    z-index: 5;
    box-shadow: 0.1em 0.1em 0.3em grey;
    background-image: url(../images/play-button.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
  }

  .grid-button .item-log:hover {
    background: white;
    background-image: url(../images/play-button-dark.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }

  /*Menú hamburguesa*/

  #menu {
    width: 1.5em;
    height: 1.4em;
    margin: 5vh 2em 0 0;
    cursor: pointer;
    float: right;
  }

  .bar {
    height: 0.2em;
    width: 100%;
    background-color: white;
    display: block;
    transition: 0.3s ease;
  }

  .bar.enigma {
    height: 0.2em;
    width: 100%;
    background-color: var(--grey);
    display: block;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-0.3em);
  }

  #bar3 {
    transform: translateY(0.3em);
  }

  .change .bar {
    background-color: var(--grey);
  }

  .change #bar1 {
    transform: translateY(0.22em) rotate(-45deg);
  }

  .change #bar3 {
    transform: translateY(-0.19em) rotate(45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .nav {
    padding: 0;
    margin: 45% 10% 0 0;
    width: 90%;
    display: none;
  }

  .nav li a {
    text-decoration: none;
    color: var(--grey);
    font-weight: bold;
    font-size: 6vw;
  }

  .nav li a:hover {
    font-weight: bold;
    color: var(--red);
  }

  .nav a:before {
    content: url("../images/linea.png");
    width: 2em;
  }

  .nav a:hover:before {
    content: url("../images/linearoja.png");
    width: 2em;
  }

  .nav li {
    list-style: none;
    padding: 1em 0;
    margin-left: 17%;
  }

  .nav li img {
    width: 50%;
    padding: 0 0 0 0;
  }

  .nav li p {
    font-family: var(--titles);
    font-size: 1em;
    margin: -10% 0 0 30%;
    width: 60%;
    line-height: 0.8em;
    text-align: left;
  }

  .desplega {
    display: none;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    margin: 103% 0 30% 15%;
    width: 58%;
    z-index: 15;
  }

  .desplega img {
    width: 65%;
  }

  .desplega p {
    font-family: var(--titles);
    font-size: 1em;
    margin: 5% 0 0 40%;
    line-height: 0.8em;
    text-align: left;
  }

  .change {
    display: block;
  }

  .menu-bg {
    z-index: 9;
    width: 0;
    height: 0;
    background: white;
    transition: 0.1s ease;
    border-radius: 5em 0 0 0;
    box-shadow: 0 -0.2em 0.25em rgba(107, 107, 107, 0.5);
  }

  .change-bg {
    width: 100%;
    height: 100%;
  }

  .menu-bg,
  #menu-bar {
    top: 0;
    right: 0;
    position: absolute;
  }

  #menu-bar {
    z-index: 10;
    width: 100%;
  }

  /*lectura*/
  .lectura {
    transition: opacity 0.5s ease-in-out;
  }

  /*Memory*/

  .grid-memory {
    margin: 0 auto;
    width: 80vw;
    height: 60vh;
    display: grid;
    grid-template-rows: 1.8fr 0.2fr;
    grid-template-areas:
      "memory-body"
      "memory-void";
  }

  .memory-body {
    grid-area: memory-body;
  }

  .memory-void {
    grid-area: memory-void;
    opacity: 0;
  }

  .memory-game {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    perspective: 1000px;
    box-sizing: border-box;
  }

  .memory-card {
    width: calc(25% - 3%);
    height: calc(33.333% - 3%);
    margin: 1.5%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  .memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }

  .memory-card.flip {
    transform: rotateY(180deg);
  }

  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 2vh 1.2vw;
    position: absolute;
    background: var(--grey);
    box-shadow: 0 0.2em 0.25em rgba(107, 107, 107, 0.5);
    backface-visibility: hidden;
    border-radius: 1em;
  }

  .front-face {
    transform: rotateY(180deg);
  }

  /*Quiz*/
  .quiz {
    height: 50vh;
    margin-top: 2vh;
  }

  .custom-box {
    margin: 5% auto;
    border-radius: 2em;
  }

  .custom-box::before,
  .custom-box::after {
    content: "";
    clear: both;
    display: table;
  }

  .custom-box.hide {
    display: none;
  }

  .quiz-box .btn,
  .result-box .btn {
    background: white;
    border: 0.2em solid white;
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 0.3em grey;
    color: var(--blue);
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 1.5vh auto 0 auto;
    padding: 0.7em;
    cursor: pointer;
    width: 100%;
  }

  button.btn {
    margin: 0;
  }

  .home-box p {
    margin: 0 0 10vh 0;
  }

  .quiz-box .question-number,
  .quiz-box .question-text,
  .quiz-box .option-container,
  .quiz-box .next-question-btn,
  .quiz-box .answers-indicator {
    width: 100%;
    float: left;
  }

  .quiz-box .question-text {
    margin: 0 0 2vh 0;
    font-size: 4vw;
    color: white;
    font-weight: bold;
  }

  .quiz-box .option-container {
    margin: 1vh 0 0 0;
    height: 20vh;
  }

  .quiz-box .option-container .option {
    background-color: var(--grey);
    padding: 3% 6%;
    font-size: 4vw;
    border: none;
    border-radius: 1em;
    margin-bottom: 1.5vh;
    color: white;
    opacity: 0;
    box-shadow: 0.1em 0.1em 0.3em grey;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
  }

  .quiz-box .option-container .option.already-answered {
    pointer-events: none;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .quiz-box .option-container .option.correct::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--blue);
    z-index: -1;
  }

  .quiz-box .option-container .option.wrong::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--red);
    z-index: -1;
  }

  .quiz-box .btn {
    margin: 0.8em 0 1em 0;
  }

  .result-box {
    text-align: center;
  }

  .result-box.hide {
    display: none;
  }

  .result-box h1 {
    text-align: center;
  }

  .result-box p {
    margin: 2vh 0 8vh 0;
    font-size: 6vw;
    font-weight: bold;
  }

  img.image-end {
    width: 100%;
    margin: 1vh 0 3vh 0;
    position: relative;
    padding-top: 5vh;
    margin-top: -70%;
    background: var(--red);
  }

  p.final-quiz {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 10% 0;
  }

  /*Tooltip*/
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0.15em dotted var(--blue);
    padding-bottom: 0.02em;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 50vw;
    background-color: var(--grey);
    color: #fff;
    font-size: 90%;
    text-align: center;
    border-radius: 1em;
    padding: 1vh;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 30%;
    margin-left: -30%;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    border-width: 0.5em;
    border-style: solid;
    border-color: var(--grey) transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /*Carousel*/
  .carousel {
    width: 100%;
    height: 30vh;
    position: relative;
    border-radius: 5em;
    margin-top: 3vh;
  }

  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30vh;
  }

  .carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
    width: 60%;
    margin: 0 auto;
  }

  .carousel-item {
    position: absolute;
    opacity: 0;
    border-radius: 1em;
    height: 30vh;
  }

  .carousel-item img {
    display: block;
    border-radius: 1em;
    height: 30vh;
    background: var(--grey);
    border: 0.2em solid var(--blue);
    margin: 0 auto;
  }

  .carousel-control {
    color: var(--grey);
    cursor: pointer;
    display: none;
    font-size: 3em;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
  }

  .carousel-control.prev {
    left: 2%;
  }

  .carousel-control.next {
    right: 2%;
  }

  .carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
  }

  #carousel-1:checked ~ .control-1,
  #carousel-2:checked ~ .control-2,
  #carousel-3:checked ~ .control-3 {
    display: block;
  }

  #slider {
    display: none;
  }

  #slider.show {
    display: block;
  }
}

@media only screen and (min-width: 481px) {
  .container-grande {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100vh;
    align-items: center;
  }

  .contenido-grande {
    background: white;
    margin: 0 auto;
    padding: 5vh 0 10vh 0;
    height: 80vh;
    width: 80vw;
    height: 80vh;
    border-radius: 2em;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    box-shadow: 0.2em 0.2em 0.3em grey;
  }

  .contenido-grande h1 {
    font-family: var(--titles);
    line-height: 12vh;
    color: var(--grey);
    font-size: 7vw;
    text-align: left;
    display: inline;
    float: right;
    margin: 5vh 0 0 0;
  }

  .contenido-grande p {
    width: 55vw;
    padding: 0 15vh 8vh 15vh;
    color: var(--grey);
    font-size: 2vh;
    font-weight: bold;
    margin-top: -10vh;
  }

  div.titulo {
    display: inline;
    margin: -10vh auto 0 auto;
    width: 40vw;
    float: left;
  }

  div.titulo img {
    margin: 2vh 0 0 0;
    width: 15vw;
  }

  div.img img {
    width: 100%;
    z-index: 1;
  }

  div.img {
    border-radius: 2em;
    padding: 7vh 3vw;
    box-shadow: 0.2em 0.2em 0.3em grey;
    width: 20vw;
    margin: 12vh 6.5vw 5vh 7vw;
  }

  .mobile {
    display: none;
  }
}
